# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib
*.s
**/obj

# Qt locals
*.pro.user
*.pro.user.*
object_script.*
Makefile
**/.qmake.stash
.qtc_clangd

# osx irritations
**/.DS_Store
*.app


# local archives
local
libFAUDES_for_VIODES