# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib
*.s

# Qt locals
*.pro.user
Makefile
.qmake.stash


# osx irritations
**/.DS_Store
*.app


# local archive
local