# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib
*.s
**/obj

# Qt locals
*.pro.user
*.pro.user.*
*.Debug
Makefile
.qmake.stash


# osx irritations
**/.DS_Store
*.app


# local archives
local
libFAUDES_for_VIODES